.bulk-report-onboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

td {
  border: 1px solid #ccc;
  padding: 8px;
  min-width: 80px;
  text-align: left;
  outline: none;
}

td:focus {
  outline: 2px solid #1976d2;
}
